{% extends "base.html" %}

{% block title %}
    Logged Out
{% endblock %}

{% block heading %}
    Logged Out
{% endblock %}


{% block content %}

    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="box-border box-content w-full rounded shadow-lg p-4 bg-white">




                <p>You're logged out successfully, please click here to <a href="{% url 'login' %}" class="text-blue-500">Login</a></p>
            </div>
        </div>
    </main>

{% endblock %}