{% extends "base.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block content %}

    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="box-border box-content w-full rounded shadow-lg p-4 bg-white">

                {% if form.errors %}
                <div class="bg-red-200 px-4 py-2 rounded mb-4">
                    <p>{{ form.errors }}</p>
                </div>
                {% endif %}


              {% if validlink %}

                  <h4 class="text-xl">Reset your password</h4>
                  <form method="post" action="">
                      {% csrf_token %}

                      <input type="password" name="new_password1" required placeholder="Enter New Password" class="px-4 py-1 rounded w-4/12 my-4 border">
                      <br />
                      <input type="password" name="new_password2" required placeholder="Enter Confirm Password" class="px-4 py-1 rounded w-4/12 mb-4 border">
                      <br />
                      <input type="submit" value="Reset My Password" class="bg-blue-700 px-5 py-1 text-white rounded cursor-pointer">
                  </form>
              {% else %}
                  <h4 class="text-xl">Password reset unsuccessful</h4>
              {% endif %}

            </div>
        </div>
    </main>

{% endblock %}