{% extends "base.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="box-border box-content w-full rounded shadow-lg p-4 bg-white">

                <h4 class="text-xl">Password reset complete</h4>
                <p class="my-2">Your password has been set. You may go ahead and <a href="/login/" class="text-blue-500">log in</a> now.</p>


            </div>
        </div>
    </main>

{% endblock %}