{% extends "base.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="box-border box-content w-full rounded shadow-lg p-4 bg-white">

                <h4 class="text-xl">Password reset sent</h4>
                <p class="my-2">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>


            </div>
        </div>
    </main>

{% endblock %}